.content {
  font-family: Soraka, Source Han Serif, serif;
}
.content a {
  color: #000;
  background-image: linear-gradient(transparent, transparent 4px, #000 4px, #000 calc(4px + 0.5pt), transparent calc(4px + 0.5pt), transparent);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 100% 6px;
  text-shadow: -0.5px 0 0 #fff, 0.5px 0 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff, -1.5px 0 0 #fff, 1.5px 0 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff, -2.5px 0 0 #fff, 2.5px 0 0 #fff;
}
.content ol,
ul {
  padding-left: 2em;
}
.content h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Soraka, sans-serif;
  font-weight: 500;
}
.content h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  padding-bottom: 4rem;
}
.content blockquote {
  margin-left: -14px;
  padding-left: 20px;
  border-left: solid 1px #000;
}
.content code {
  border-radius: 2px;
  border: 1px dotted #666;
  padding: 0 5px;
}
.content code,
pre {
  font-size: 0.85rem;
  font-weight: normal;
  tab-size: 4;
  word-break: break-all;
  font-feature-settings: normal;
  white-space: pre-wrap;
}
