html {
  height: 100%;
  font-size: 18px;
}
@media (max-width: 767px) {
  html {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
}
body {
  border-top: 2px solid #000;
  text-rendering: geometricPrecision;
  line-height: 1.5;
  font-family: Soraka, "Source Han Serif SC", serif;
  font-feature-settings: "lnum", "calt", "liga", "clig";
}
#content-outer {
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-top: 6rem;
}
#header {
  margin-top: 3rem;
  text-align: center;
}
#title h1 {
  font-family: Soraka, "Source Han Serif SC", serif !important;
}
#menu-outer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#footer {
  color: #808080;
  max-width: 44rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  font-size: 10px;
}
a {
  color: #000;
  text-decoration: none;
}
.meta {
  color: #808080;
  min-width: 200px;
  margin-right: 16px;
  font-size: 14px;
}
article header .meta {
  color: #ccc !important;
  text-decoration: none !important;
  text-transform: uppercase;
  font-variant: small-caps;
}
article header .meta .page-date:after {
  content: "|";
}
article header .meta a {
  background-image: none !important;
  color: #ccc !important;
}
#paginator {
  text-align: center;
}
