@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme inline {
  --color-blurple: rgb(82, 0, 255);
  --color-franklin: rgb(60, 255, 208);
  --color-pernod: rgb(214, 243, 31);
  --color-hotbrick: rgb(255, 61, 0);
  --color-pep: rgb(255, 194, 231);

  --font-noto-serif: var(--google-font-noto-serif-sc), var(--font-serif);
  --font-fira-code: var(--google-font-fira-code), var(--font-mono);

  --max-width-prose: 640px;

  --shadow-highlight: inset 0 -0.5em 0 0;
}

@utility prose-zinc {
  --tw-prose-pre-bg: var(--color-zinc-100);
  --tw-prose-invert-pre-bg: color-mix(
    in srgb,
    var(--color-zinc-800),
    transparent 50%
  );
}

@layer base {
  :root {
    --annotation-box: green;
    --annotation-circle: crimson;
    --annotation-highlight: rgba(255, 215, 0, 25%);
    --annotation-underline: dodgerblue;
  }

  .shiki,
  .shiki span {
    color: var(--shiki-light);
  }

  @media (prefers-color-scheme: dark) {
    .shiki,
    .shiki span {
      color: var(--shiki-dark);
    }
  }

  .prose a {
    @apply decoration-from-font underline-offset-4;
  }

  .prose blockquote {
    @apply not-italic;
  }

  .prose blockquote p:first-of-type::before {
    @apply content-none;
  }

  .prose blockquote p:last-of-type::after {
    @apply content-none;
  }

  .prose pre {
    @apply font-fira-code;
  }

  .prose code {
    @apply font-fira-code;
  }

  .prose .katex-html {
    @apply overflow-x-auto overflow-y-hidden;
  }

  .prose .contains-task-list {
    @apply list-none ps-0;
  }

  .prose .task-list-item input[type='checkbox'] {
    @apply mr-1.5;
  }

  .prose a[data-footnote-ref] {
    @apply font-fira-code font-normal no-underline before:content-['\['] after:content-['\]'];
  }

  .prose .footnotes {
    @apply font-sans text-xs text-zinc-500 dark:text-zinc-400;
  }

  .prose .footnotes p {
    @apply my-0;
  }

  .prose .data-footnote-backref {
    @apply font-fira-code font-normal no-underline;
  }
}
